@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --clr-main: rgb(255, 255, 255);
  --clr-main-darker: rgb(
    from var(--clr-main) calc(r - 21) calc(g - 21) calc(b - 21)
  );
  --clr-main-darkest: rgb(
    from var(--clr-main) calc(r - 84) calc(g - 84) calc(b - 84)
  );
  --clr-contrast: rgb(0 0 0);

  --font-family: "IBM Plex Sans", sans-serif;

  --vertical-spacing: 2rem;
}

/* MODERN CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GLOBAL STYLES */

* {
  font-family: var(--font-family);
}

body {
  display: grid;
  grid-template-columns: 1fr 7fr;
  background-color: var(--clr-main);
}

.nav-bar {
  --border-width: 0.11rem;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  gap: 3rem;
  border-right: var(--border-width) dotted var(--clr-main-darkest);
  padding: 1rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: var(--clr-contrast);
  }
}

.home-button {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-weight: 650;
  color: var(--clr-contrast);

  svg {
    --side-size: 3rem;

    pointer-events: none;
    width: var(--side-size);
    height: var(--side-size);
  }
}

.nav-link {
  display: flex;
  gap: 0.7rem;
  padding: 0.32rem 0.7rem;

  svg {
    fill: var(--clr-main-darkest);
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    background-color: var(--clr-main-darker);
  }
}

.selected {
  background-color: var(--clr-main-darker);
  font-weight: 650;

  svg {
    fill: var(--clr-contrast);
  }
}

main {
  height: 100%;
  padding: var(--vertical-spacing);
}

.app-version {
  font-size: 0.87rem;
  color: var(--clr-main-darkest);
}
