@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --clr-strong: black;
  --clr-bg-light: rgb(234, 234, 234);
  --clr-bg-dark: rgb(171, 171, 171);

  --font-family: "IBM Plex Sans", sans-serif;
}

/* MODERN CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GLOBAL STYLES */

* {
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  border-bottom: 0.1875rem solid var(--clr-bg-dark);
  min-height: 5rem;
}

.home-button {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--clr-strong);
}

nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.75rem;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 0.3125rem;
    text-decoration: none;
    color: var(--clr-strong);
    font-weight: bold;

    &:hover {
      background-color: var(--clr-bg-light);
    }
  }
}

main {
  padding: 2rem 20dvw;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal {
  padding: 1.3rem;
  min-width: 25dvw;
  margin: auto;
  border: none;
  overflow: hidden;

  h3 {
    text-align: center;
    grid-column: 2 / 3;
    margin: 0;
    font-weight: bold;
    font-size: 1.3rem;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.509);
  }
}

.modal[open] {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  gap: 0.85rem;
}

.close-modal {
  grid-column: 3 / 4;
  max-width: fit-content;
  justify-self: end;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

tenant-form {
  grid-column: 1 / 4;
}

.section-title {
  font-size: 1.75rem;
}

.tenants-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 2rem 0;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0 0.6rem;
    border: none;
    color: var(--clr-strong);
    font-weight: 600;
    background-color: var(--clr-bg-light);

    svg {
      fill: var(--clr-strong);
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--clr-strong);
      color: white;

      svg {
        fill: white;
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  background-color: var(--clr-strong);
  color: white;

  span {
    text-decoration: underline dashed;
  }
}

.spinner {
  --full-spin-time: 0.7s;
  --side-size: 3rem;

  box-sizing: border-box;
  width: var(--side-size);
  height: var(--side-size);
  fill: var(--clr-bg-dark);
  animation: spin var(--full-spin-time) linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.home-view {
  text-align: center;

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.payments-view {
  text-align: center;
}
